* {
    font-family: "Neon 80s", Arial, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 240%;
    color: #0af;
    display: block;
    margin: 0;
}

h2 {
    font-size: 180%;
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
    max-width: 100%;
    overflow: hidden;
    display: block;
}

h3 {
    background: #0af;
    margin: 0;
}

p {
    font-size: 20px;
    color: #000;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #0af;
    color: #333;
    text-align: center;
    height: 5px;
    margin: 15px 0;
}

img {
    width: 28px;
}

a {
    position: relative;
    top: -5px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
}

a:hover {
    color: #0af;
    cursor: pointer;
}

span {
    font-size: 120%;
}

span.lang:hover span.notes:hover {
    color: #0af;
    cursor: pointer;
}

span#blue:hover {
    color: #0af;
    cursor: pointer;
}

span#green:hover {
    color: #0f2;
    cursor: pointer;
}

span#red:hover {
    color: #f00;
    cursor: pointer;
}

hr:after {
    content: "●";
    color: #0af;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    animation: circle 1s ease 0.5s infinite;
}

button {
    font-size: 20px;
    background: #0af;
    border: 0;
    margin: 2px auto;
    display: block;
    height: 25px;
    width: 4.5em;
}

button:hover {
    background: #0df;
    color: #fff;
}

button.clicked:hover {
    background: #0df;
}

button:focus {
    background: #fff;
    color: #000;
    border: none;
}

button:active {
    background: #fff;
    color: #000;
    width: 5em;
}

div.note,
div.octave {
    width: 10em;
}

div.root,
div.note {
    position: absolute;
    margin: 0 50% 0 25%;
}

div.type,
div.octave {
    position: absolute;
    margin: 0 0 0 62.5%;
}

div.chord,
div.frequency {
    position: relative;
    top: 435px;
    left: 37.5%;
    width: 25%;
}

div.sites {
    position: relative;
    top: 500px;
    left: 37.5%;
    width: 25%;
}

div.divider {
    height: 50px;
}

div.popup {
    color: #f00;
    background: rgba(100, 100, 100, 0.8);
    display: inline-block;
    text-align: center;
    position: relative;
    top: 320px;
    opacity: 0;
}

div.popup div {
    position: relative;
    width: 8%;
    left: 92%;
    font-size: 20px;
}

div.popup div:hover {
    background: #f00;
    color: white;
    cursor: pointer;
}

div#header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
}

div#header a {
    position: absolute;
    top: 8px;
    left: 5px;
}

div#header a:hover {
    color: #0af;
}

div#content {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

div#cont {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

div#footer {
    position: absolute;
    top: 1000px;
    left: 0;
    width: 100%;
    background: #0af;
}

div#footer p{
    margin: 0;
}

div#content div#notes h3 {
  background: #fff;
  cursor: pointer;
}

div#notes h3:hover {
    color: #0af;
}


.info {
    border: 2px solid #0af;
    border-radius: 5%;
}


@keyframes circle {
    0%, 100% {color: #fff;}
    50% {color: #0af;}
}